<div class="account">
	<div class="account_header">
		<div>
			<h2>{{ account.username | default(value = account.handle) }}</h2>
			{% if user and user.id != account.id %}
				{% if account.followed_by_user %}
				<a href="/user/{{ account.handle }}/unfollow" class="padding round hollow">
					Unfollow
				</a>
				{% else %}
				<a href="/user/{{ account.handle }}/follow" class="padding round filled">
					Follow
				</a>
				{% endif %}
			{% endif %}
		</div>
		<button class="round filled">…</button>
	</div>
	<a href="/user/{{ account.handle }}" class="handle">
		@{{ account.handle }}
	</a>
	<div class="account_footer">
		<div class="account_follows">
			<span><b>{{ account.following }}</b> following</span>
			<span><b>{{ account.followers }}</b> follower{% if account.followers != 1 %}s{% endif %}</span>
		</div>
	</div>
</div>
