{% set base_post = current_post %}
{% include 'base/post.html' %}

{% if user %}
<hr>

<form id="create_post_container" method="post" action="/create_post">
	<input type="hidden" name="parent_id" value="{{ base_post.id }}">
	<h2>Type your reply</h2>
	<textarea id="create_post_input" rows="8" name="body" placeholder="Write something" required></textarea>
	<button id="create_post_button" type="submit">Reply</button>
</form>
{% endif %}

<div class="reply_container">
	<div class="vr">
		<hr>
	</div>

	<div class="replies">
		{% for reply in replies %}

		<hr>

		{% set post = reply %}
		{% include 'base/post_with_reply.html' %}

		{% endfor %}
	</div>
</div>