@import url("/static/css/base.css");
@import url("/static/css/post.css");

.account {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: flex-start;
}

.account * {
	margin: 0;
	display: flex;
	flex-direction: row;
	gap: 0.5rem;
}

.account>* {
	justify-content: space-between;
}

.account>*>* {
	justify-self: flex-start;
}

.account_header>* {
	align-items: center;
}

.account_footer>* {
	gap: 1rem;
}

.account_footer>*>* {
	gap: 0.2rem;
}

.padding {
	padding: 0.25rem;
}

.round {
	border-radius: 1000vw;
}

.filled {
	border: 1px solid #fff;
	background-color: #fff;
	color: #000;
}

.filled:hover {
	background-color: #ccc;
}

.hollow {
	border: 1px solid #fff;
	background-color: #000;
	color: #fff;
}

.hollow:hover {
	background-color: #333;
}