<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{% block title %}{% endblock %}</title>
	<link rel="stylesheet" href="/static/css/base.css" />
	<link rel="stylesheet" href="{% block styles %}{% endblock %}" />
</head>
<body>
	<script src="/static/js/main.js"></script>
	<header>
		<a class="header_item" href="/">
			<img id="header_logo" src="/static/logo.webp" />
			<h2>Twitter</h2>
		</a>
		<div class="header_item">
			{% if userdata.username %}

			<form method="post" action="/delete_account">
				<button type="submit">Delete account</button>
			</form>
			<a class="underline" href="/signout">Sign out</a>
			<a class="handle" href="/user/{{ userdata.username }}">@{{ userdata.username }}</a>
			
			{% else %}

			<a class="underline" href="/login">Login</a>
			<a href="/register">
				<button>Register</button>
			</a>

			{% endif %}
		</div>
	</header>

	{% block content %}{% endblock %}
</body>
</html>