<div class="post" onclick="window.location = '/post/{{ base_post.id }}'">
	<div class="post_header">
		{% if base_post.username %}
		<a href="/user/{{ base_post.username }}" class="handle">@{{ base_post.username }}</a>
		{% else %}
		account has been deleted
		{% endif %}
		<span class="post_info_container">{{ base_post.time }}</span>
	</div>

	<div class="post_body">
		{% if base_post.deleted %}
		post has been deleted
		{% else %}
		<pre>{{ base_post.body }}</pre>
		{% endif %}
	</div>

	{% if not base_post.deleted %}
	<div class="post_footer">
		{% if userdata.username %}
		<button class="like_button" data-id="{{ base_post.id }}">
			{% if base_post.liked_by_user %}
			<img class="like_icon" src="/static/like_filled.png" />
			{% else %}
			<img class="like_icon" src="/static/like_hollow.png" />
			{% endif %}
			<b class="like_count">{{ base_post.likes }}</b>
		</button>
		{% else %}
		<div class="like_button">
			<img class="like_icon" src="/static/like_hollow.png" />
			<b class="like_count">{{ base_post.likes }}</b>
		</div>
		{% endif %}

		{% if base_post.username == userdata.username and not base_post.deleted %}
		<span class="post_info_container">
			<a href="/delete_post/{{ base_post.id }}">delete</a>
		</span>
		{% endif %}
	</div>
	{% endif %}
</div>