<div class="post" onclick="window.location = '/post/{{ base_post.id }}'">

	<div class="post_header">
		<a href="/user/{{ base_post.author_handle }}" class="handle">@{{ base_post.author_name }}</a>

		<span class="post_info_container">{{ base_post.create_time }}</span>
	</div>

	<div class="post_body">
		<pre>{{ base_post.body }}</pre>
	</div>
	
	<div class="post_footer">
		
		<button class="like_button"
		{% if not user or base_post.author_id == user.id %}disabled{% endif %}
		data-id="{{ base_post.id }}">
			{% if base_post.liked_by_user %}
			<img class="like_icon" src="/static/like_filled.png" />
			{% else %}
			<img class="like_icon" src="/static/like_hollow.png" />
			{% endif %}
			<b class="like_count">{{ base_post.likes }}</b>
		</button>

		{% if user and base_post.author_id == user.id %}
		<span class="post_info_container">
			<a href="/delete_post/{{ base_post.id }}">delete</a>
		</span>
		{% endif %}
		
	</div>
	
</div>
