{% extends 'base.html' %}

{% block title %}Create a post{% endblock %}

{% block styles %}
<style>

form{
	padding-left: 20px;
}
#content{
	justify-content: center;
	align-items: center;	
}
#background{
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: start;

	width: 80%;
	height: 80%;
	background: #111;
	border-radius: 20px;
}
#title{
	margin: 20px;
	text-align: center;
}
#background{
	flex-grow: 1;

	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: start;

	margin: 20px;
	margin-top: 0;
	padding: 20px;
	background: #222;
	border-radius: 20px;
}
#submit_container{
	margin: 20px 0px;
}
#post_input{
	background: #000;
	color: #fff;
	outline: 1px solid #fff;
	border-radius: 5px;
	border: none;
	font-size: 20px;
}
.alert{
	padding: 10px 20px;
	margin: 5px 20px;
	border-radius: 10px;

	background: #964b4b;
	color: #fff;

	font-size: 20px;
}

</style>
{% endblock %}



{% block content %}

<div id="background">
	<div>
		<h1 id="title"></h1>
	</div>
	<div id="background">
		<form method="post">
			<h3>Enter your post: </h3>
			<textarea id="post_input" rows="16" cols="64" name="body" placeholder="Write your post here" required></textarea>
			<div id="submit_container">
				<button type="submit">Create a post</button>
			</div>
		</form>
	</div>
</div>

{% endblock %}