{% extends 'base.html' %}

{% block title %}Homepage{% endblock %}

{% block styles %}
<style>

.post{
	display: flex;
	flex-direction: column;
	align-items: stretch;

	margin: 5px 4px;
	padding: 8px;

	border: 1px solid #fff;
	border-radius: 10px;

	background: inherit;
}
.post_header{
	display: flex;
	flex-direction: row;
	align-items: stretch;
}
.post_body{
	margin: 5px 0px;
	padding: 5px;
	border-radius: 7px;
	
	background: #111;
}
.post_footer{
	display: flex;
	flex-direction: row;
	align-items: stretch;
}

.handle{
	color: rgb(50, 171, 219);
	font-weight: bold;
}
.post_info_container{
	color: rgba(255, 255, 255, 0.7);
	margin-left: auto;
}
.semitransparent{
	color: rgba(255, 255, 255, 0.4);
}

</style>
{% endblock %}



{% block content %}

{% for post in posts %}
	<div class="post">
		<div class="post_header">
			<a href="/user/{{ post.username }}/" class="handle">@{{ post.username }}</a>
			<span class="post_info_container">{{ post.time }}</span>
		</div>
		<div class="post_body">
			{% if post.deleted %}
			Post has been deleted
			{% else %}
			<pre>{{ post.body }}</pre>
			{% endif %}
		</div>
		<div class="post_footer">
			<pre><b>{{ post.likes }}</b> likes</pre>
			<span class="post_info_container">
				{% if post.username == userdata.username and not post.deleted %}
				<a href="/delete_post/{{ post.id }}">delete</a>
				{% endif %}
				<a class="semitransparent" href="/post/{{ post.id }}">{{ post.id }}</a>
			</span>
		</div>
	</div>
{% endfor %}

{% endblock %}