{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block styles %}
<style>

form{
	padding-left: 20px;
}
#content{
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: stretch;
}
#title{
	margin: 20px;
	text-align: center;
}
#background{
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: start;

	padding: 20px;
	background: #111;
	border-radius: 20px;
}
#submit_container{
	margin: 20px 0px;
}
.alert{
	padding: 10px 20px;
	margin: 5px 20px;
	border-radius: 10px;

	background: #964b4b;
	color: #fff;

	font-size: 20px;
}

</style>
{% endblock %}



{% block content %}

<div id="content">
	<div>
		<h1 id="title">Welcome back!</h1>
	</div>
	<div id="background">

		{% if flash %}
		<div class="alert">{{ flash }}</div>
		{% endif %}
		
		<form method="post">
			<h3>Enter your login: </h3>
			<input type="text" name="username" placeholder="Enter your login here" required />
			<h3>Enter your password: </h3>
			<input type="password" name="password" placeholder="Enter your password here" required />
			<div id="submit_container">
				<button type="submit">Login</button>
			</div>
		</form>
	</div>
</div>

{% endblock %}