{% extends 'base.html' %}

{% block title %}Register{% endblock %}

{% block styles %}
<style>

form{
	padding-left: 20px;
}
#content{
	justify-content: center;
	align-items: center;	
}
#background{
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: start;

	width: 80%;
	height: 80%;
	background: #111;
	border-radius: 20px;
}
#welcome_back{
	margin: 20px;
	text-align: center;
}
#background{
	flex-grow: 1;

	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: start;

	margin: 20px;
	margin-top: 0;
	padding: 20px;
	background: #222;
	border-radius: 20px;
}
#submit_container{
	margin: 20px 0px;
}
.alert{
	padding: 10px 20px;
	margin: 5px 20px;
	border-radius: 10px;

	background: #964b4b;
	color: #fff;

	font-size: 20px;
}

</style>
{% endblock %}



{% block content %}

<div id="background">
	<div>
		<h1 id="welcome_back">Welcome!</h1>
	</div>
	<div id="background">

		{% for message in get_flashed_messages() %}
		<div class="alert">{{ message }}</div>
		{% endfor %}
		
		<form method="post">
			<h3>Create a login: </h3>
			<input type="text" name="login" placeholder="Enter your login here" value="{{ request.form['login'] }}" required />
			<h3>Create a password: </h3>
			<input type="password" name="password" placeholder="Enter your password here" value="{{ request.form['password'] }}" required />
			<div id="submit_container">
				<button type="submit">Register</button>
			</div>
		</form>
	</div>
</div>

{% endblock %}